<div class="row align-items-center mb-3" style="display: flex; align-items: center; margin-bottom: 1.5rem;">
  <div class="col-1" style="flex: 0 0 8.333333%; max-width: 8.333333%;">
    <%= line_item.quantity %>
  </div>
  <div class="col-2" style="flex: 0 0 16.666667%; max-width: 16.666667%;">
    <figure class="figure">
      <%# <%= image_tag(line_item.shopping.image_url(:thumb), class: "figure-img img-fluid rounded") %> 
    </figure>
  </div>
  <div class="col-9" style="flex: 0 0 75%; max-width: 75%;">
    <strong><%= line_item.shopping.name %></strong>
    <div class="row align-items-center" style="display: flex; align-items: center;">
      <div class="col-9" style="flex: 0 0 75%; max-width: 50%;">
        <p class="mb-0" style="margin-bottom: 0;"><%= truncate(line_item.shopping.description, length: 140) %></p>
      </div>
      <div class="col-3 text-right" style="flex: 0 0 25%; max-width: 25%; text-align: right;">
        <strong><%= number_to_currency(line_item.total_price) %></strong>
      </div>
      <div class="text-right" style="text-align: right; margin-left: 40px;background-color: red; padding:8px; border-radius:10px; ">
        <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-sm btn-danger mb-4", style: "color: white; text-decoration:none;padding :18px; " %>
      </div>
    </div>
  </div>
</div>

<hr style="margin-top: 2rem; margin-bottom: 2rem;"/>
